<header class="header fadeout header-inverse " style="background-image: linear-gradient(to bottom, #244947 0%, #51a4a0 100%);">
  <canvas class="constellation" width="1280" height="649"></canvas>
  <div class="container text-center">

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <h1>An Honourable Directory of Amazing<br> One Person Startups</h1>
        <p class="fs-20 opacity-70">Scroll down to discover them.</p>
      </div>
    </div>

  </div>
</header>
<section class="section bg-gray">
  <div class="container">

    <!-- Startups Begin -->
    <div class="row gap-y">
      <%= render @startups %>
    </div>
    <!-- Startups End -->

    <!-- Pagination Starts -->
    <nav class="flexbox mt-30">



      

      <% if @startups.current_page > 1 %>
        <%= link_to "<i class='ti-arrow-left fs-9 ml-4'></i> Previous".html_safe, "#{startups_path}?page=#{@startups.current_page-1}", class: "btn btn-white" %>
      <% else %>
       <%= link_to "<i class='ti-arrow-left fs-9 ml-4'></i> Previous".html_safe, "#", class: "btn btn-white disabled" %>
      <% end %>
   
      <% if @startups.current_page < @startups.total_pages %>
        <%= link_to "Next <i class='ti-arrow-right fs-9 ml-4'></i>".html_safe, "#{startups_path}?page=#{@startups.current_page+1}", class: "btn btn-white" %>
        <% else %>
        <%= link_to "Next <i class='ti-arrow-right fs-9 ml-4'></i>".html_safe, "#", class: "btn btn-white disabled" %>
      <% end %>
    </nav>
    <!-- Pagination Ends -->

  </div>
</section>