<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? "#{content_for(:html_title)} | One Person Startups" : "One Person Startups" %></title>

    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= content_for?(:meta_description) ? content_for(:meta_description) : "An Honourable Directory of Amazing
One Person Startups" %>">
    <meta property="fb:app_id" content="169095000322850"/>
    <meta property="og:title" content="<%= content_for?(:og_title) ? content_for(:og_title) : 'One Person Startups'%>" />
    <meta property="og:type" content="<%= content_for?(:og_type) ? content_for(:og_type) : 'website'%>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="http://res.cloudinary.com/dc0dalhq8/image/upload/v1503438718/onepersonstartups/one_person_screenshot.png" />
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dc0dalhq8/image/upload/v1503438718/onepersonstartups/one_person_screenshot.png" />
    <meta property='og:site_name' content='One Person Startups' />
    <meta property='og:description' content="<%= content_for?(:og_description) ? content_for(:og_description) : 'An Honourable Directory of Amazing
One Person Startups' %>" />
  
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/analytics" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    	<%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
